<?xml version="1.0"?>
<config>

    <!-- Wireless network -->
    <interface 
        hosts="sensor[*] gateway"
        names="wlan0"
        address="10.0.0.x"
        netmask="255.255.255.0"/>

    <!-- Wired gateway-server link -->
    <interface 
        hosts="gateway"
        names="eth0"
        address="10.0.1.1"
        netmask="255.255.255.252"/>

    <interface 
        hosts="server"
        names="eth0"
        address="10.0.1.2"
        netmask="255.255.255.252"/>


    <!-- Wireless communication group -->
    <wireless interfaces="sensor[*]%wlan0 gateway%wlan0"/>


</config>